html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica, serif;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .65);
    background-color: #f9fbff;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1400px;
}

h1 {
    margin-bottom: 50px;
    font-size: 32px;
}

h1 > span {
    font-size: 16px;
    font-weight: normal;
}

@media only screen and (max-device-width: 350px) {
    h1 > span {
        display: block;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 15px 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: inherit;
    background: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

.box:hover {
    text-decoration: none;
    color: inherit;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}

.name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' preserveAspectRatio='xMidYMid meet' height='1em' width='1em' viewBox='0 0 40 40' style='vertical-align: middle;'%3E%3Cg%3E%3Cpath d='m17.5 10h-2.5v2.5h2.5v-2.5z m0-5h-2.5v2.5h2.5v-2.5z m15-5h-25s-2.5 1.3-2.5 2.5v30s1.3 2.5 2.5 2.5h5v5l3.8-3.7 3.7 3.7v-5h12.5s2.5-1.2 2.5-2.5v-30s-1.2-2.5-2.5-2.5z m0 31.3c0 0.6-0.6 1.2-1.2 1.2h-11.3v-2.5h-7.5v2.5h-3.7s-1.3-0.7-1.3-1.2v-3.8h25v3.8z m0-6.3h-20v-22.5h20l0 22.5z m-15-5h-2.5v2.5h2.5v-2.5z m0-5h-2.5v2.5h2.5v-2.5z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: 0 8px;
    background-repeat: no-repeat;
    overflow-x: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.spark {
    width: 200px;
    align-self: center;
}

.one {
    display: flex;
    flex-direction: column;
}

.one .box {
    width: 230px;
    align-self: center;
    transform: scale(1.5);
    margin-top: 30px;
    margin-bottom: 50px;
}

code {
    margin-top: 50px;
    padding: 10px 15px;
    max-width: 600px;
    overflow-x: scroll;
    align-self: center;
    white-space: nowrap;
    font-family: monospace;
    background-color: #eeeeee;
}

@media only screen and (max-device-width: 812px) {
    code {
        width: 100%;
        max-width: none;
    }
}

.add-repo {
    margin-top: 90px;
    align-self: center;
}

.add-repo label {
    display: block;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.add-repo input[type="text"] {
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px 17px;
    font-family: monospace;
    font-size: 16px;
    width: 200px;
    background-color: #fff;
    box-shadow: 2px 5px 10px rgb(228, 228, 228);
}

.add-repo button {
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    border: 0 none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 2px 5px 10px rgb(228, 228, 228);
    color: #7e8091;
    background-color: #fff;
    transition: background-color 150ms linear;
}

.add-repo button:hover {
    background-color: #f2f2f2;
}

.r {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.r1, .r2, .r3, .r4{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid 12px #fc607f;
}

.r2 {
    border-color: #4580fe;
}

.r3 {
    border-color: #fcb84d;
}

.r4 {
    border-color: #78faca;
    border-radius: 0;
}
